
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    @Html.Action("PartialNavbar", "Default")

    @Html.Action("PartialFeature", "Default")

    @Html.Action("PartialStatistic", "Default")


    <section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center" style="background-image: url(/Template/ClydeMaster/images/Atamany3.jpg);">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                    <div class="py-md-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                @Html.Action("PartialAbout", "Default")

                                @Html.Action("PartialProfile", "Default")

                            </div>
                            @Html.Action("PartialHobby", "Default")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Action("PartialSkill", "Default")

    @Html.Action("PartialService", "Default")



    <section class="ftco-hireme">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-8 d-flex align-items-center">
                    <div class="w-100 py-4">
                        <h2>Aklınızda bir proje mi var?</h2>
                        <p>Aklınızdaki projeyi hayata geçirmek için benimle iletişime geçebilirsiniz.</p>
                        <p class="mb-0"><a href="#" class="btn btn-white py-3 px-4">Bana Ulaş!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("PartialProjects", "Default")

    <section id="testimonial-section">
        @Html.Action("PartialTestimonials", "Default")
    </section>

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">İletişime Geç!</span>
                    <h2 class="mb-4">Bir projeniz mi var?</h2>
                    <p>Bana aşağıdaki form aracılığıyla hızlıca ulaşabilirsiniz.</p>
                </div>
            </div>

            <div class="row block-9">
                @Html.Action("PartialContact", "Default")
                @Html.Action("PartialAddress", "Default")
                
            </div>
        </div>
    </section>


    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialScripts", "Default")

</body>
</html>